
Resources/status/Blue/desktop.ini
Resources/status/Red/desktop.ini
Resources/status/Pink/desktop.ini
Resources/status/Orange/desktop.ini
Resources/status/Green/desktop.ini
Resources/status/Gray/desktop.ini
